<div class="header">


<ul class="nav nav-pills pull-right">
		<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">About
    	<span class="caret"></span></a>
    	<ul class="dropdown-menu">
			<li class="{{ page.about }}"><a href="/MathCareers/purpose" title="Purpose">Purpose</a></li>
      		<li class="{{ page.about }}"><a href="/MathCareers/schedule" title="Schedule">Schedule</a></li>
    	</ul>
  		</li>
		<li class="{{ page.registration }}"><a href="/MathCareers/registration" title="Registration">Registration</a></li>
		<li class="{{ page.misc }}"><a href="/MathCareers/misc" title="Misc.">Misc.</a></li>
		<li class="{{ page.contact }}"><a href="/MathCareers/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="/MathCareers/">MathCareers</a></h3>
</div> <!-- /header -->